{% extends 'index.html' %}
{% block title%}Home{% endblock%}
{% block content %}
<div class=" w-full h-full">
    <form class=" w-[600px] mx-auto">
        <div class="my-10">
            <input type="text" id="success" class="bg-blue-50 border  text-gray-700 text-base font-medium rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 focus:shadow-md" placeholder="Add new task">
          </div>
    </form>
    <div class="w-full max-w-[600px] mx-auto pb-20">
        <h2 class=" text-2xl font-medium">Tasks</h2>
        <ul>
            <li class="border-b border-gray-400 hover:border hover:border-gray-300 hover:shadow-md hover:rounded-lg flex justify-between p-1 py-4 my-2">
                <p class=" grow ">Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\d Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\desktop\flask_projects\todo\lib\site-packages (from wtforms) (2.1.1)</p>
                <div class=" flex gap-2 items-center">
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-red-300 w-fit text-red-800">
                        <i class="fa-solid fa-trash"></i>
                    </p>
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-blue-300 w-fit text-blue-800">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </p>
                </div>
            </li>
            <li class="border-b border-gray-400 hover:border hover:border-gray-300 hover:shadow-md hover:rounded-lg flex justify-between p-1 py-4 my-2">
                <p class=" grow ">Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\d Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\desktop\flask_projects\todo\lib\site-packages (from wtforms) (2.1.1)</p>
                <div class=" flex gap-2 items-center">
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-red-300 w-fit text-red-800">
                        <i class="fa-solid fa-trash"></i>
                    </p>
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-blue-300 w-fit text-blue-800">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </p>
                </div>
            </li>
            <li class="border-b border-gray-400 hover:border hover:border-gray-300 hover:shadow-md hover:rounded-lg flex justify-between p-1 py-4 my-2">
                <p class=" grow ">Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\d Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\desktop\flask_projects\todo\lib\site-packages (from wtforms) (2.1.1)</p>
                <div class=" flex gap-2 items-center">
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-red-300 w-fit text-red-800">
                        <i class="fa-solid fa-trash"></i>
                    </p>
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-blue-300 w-fit text-blue-800">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </p>
                </div>
            </li>
            <li class="border-b border-gray-400 hover:border hover:border-gray-300 hover:shadow-md hover:rounded-lg flex justify-between p-1 py-4 my-2">
                <p class=" grow ">Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\d Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\desktop\flask_projects\todo\lib\site-packages (from wtforms) (2.1.1)</p>
                <div class=" flex gap-2 items-center">
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-red-300 w-fit text-red-800">
                        <i class="fa-solid fa-trash"></i>
                    </p>
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-blue-300 w-fit text-blue-800">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </p>
                </div>
            </li>
            <li class="border-b border-gray-400 hover:border hover:border-gray-300 hover:shadow-md hover:rounded-lg flex justify-between p-1 py-4 my-2">
                <p class=" grow ">Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\d Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\desktop\flask_projects\todo\lib\site-packages (from wtforms) (2.1.1)</p>
                <div class=" flex gap-2 items-center">
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-red-300 w-fit text-red-800">
                        <i class="fa-solid fa-trash"></i>
                    </p>
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-blue-300 w-fit text-blue-800">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </p>
                </div>
            </li>
            <li class="border-b border-gray-400 hover:border hover:border-gray-300 hover:shadow-md hover:rounded-lg flex justify-between p-1 py-4 my-2">
                <p class=" grow ">Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\d Requirement already satisfied: MarkupSafe in c:\users\olanrewaju kabiru\desktop\flask_projects\todo\lib\site-packages (from wtforms) (2.1.1)</p>
                <div class=" flex gap-2 items-center">
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-red-300 w-fit text-red-800">
                        <i class="fa-solid fa-trash"></i>
                    </p>
                    <p class=" text-sm font-bold p-2 px-3 rounded-full cursor-pointer bg-blue-300 w-fit text-blue-800">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock%}
   